body {
    margin: 0;
   

    background-image: url('nebula.gif');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(9, 0, 22, 0.607); 
    background-attachment: fixed; 
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p {
    color: white; 
    font-family: Roboto;
}

*{
    text-decoration: none;

}




html{
    height: 100%;
}









.navbar{
     background: rgb(20, 0, 19);  padding-right: 15px;padding-left: 15px; border: 2px solid gold; height: 100px; position: sticky; 
    top: 0; 
    z-index: 1; 
    
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}

.logo a{
    font-size: 35px; font-weight: 600; color: white;
}
.navdiv li{
    list-style-type: circle;  display: inline-flex; margin-top: 20px; 
}
 li a{
    color: rgb(249, 249, 248); font-size: 20px; font-weight: bold; margin-right: 25px; 
}

li a:hover {
    
    background-color: rgb(159, 137, 7);
      color: #000;
      transition-duration: 0.5s;
}
button{
    background-color: black; margin-right: 100px; border-radius: 10px; padding: 10px; width: 90px; border-color: gold; margin-top: 20px; margin-left: -180px;
}
button a{
    color: rgb(243, 220, 9); font-weight: bold; font-size: 15px;
}

button a:hover{
    color: #ffffff;
    
    
}

.profile nav
{margin-left: auto;}

.search-container {
    display: flex;
    align-items: center;
    margin-left: -230px; 
    padding: 1px;
    margin-top: 20px;
    position: sticky;
    float: left;
    
}
.search-container i{
    right: 20px;
    position: absolute;
}


.search-container label {
    margin-right: 5px;
}

.search-container input {
    width: 180px; 
    max-width: 200px; 
    padding: 5px; 
    border-radius: 10px; 
    border: 2px solid rgb(243, 220, 9); 
}

.search-container input:focus {
    outline: none; 
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.5); 
}

.search-container input:hover {
    background-color: #0abffb; 
}

.search-container label {
    width: 1px; 
}

footer {
    
    background: rgb(20, 0, 19); 
    font-family: Helevetica; 
    padding-right: 15px;padding-left: 15px;
    padding-bottom: 15px;
     border-top: 2px solid gold; 
     height: 150px; 
     
    margin-top: auto;
    bottom: 0;
    
}

.Myprofile{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 70px;
}

.steamprof{
    margin-left: 350px;
    
}

.discordprof{
    margin-left: 50px;
}

.igprof{
    margin-left: 50px;
}

.tiktokprof{
    margin-left: 50px;
}

.Xprof{
    margin-left: 50px;
}

a.wsh:hover{
    color: #e7d80f;
}

.item{
    background-color: #010001;
    border: 2px solid gold;
    border-radius: 10px;
    padding: 10px;
    float: left;
    max-width: 25%;
}

.random{
    background-color: #010001;
    border: 2px solid gold;
    border-radius: 10px;
    max-width: 867px;
    margin-left: 300px;

}

.math{
    background-color: #000000;
    border: 2px solid gold;
    border-radius: 10px;
    max-width: 467px;
    margin-left: 500px;


}